.btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    border: 1px solid #ccc;
    cursor: pointer;
    background-color: tomato;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 18px;
}